.wrapper { margin: 0 auto;
        width: 922px
}

.nav-buttons {
    width: 190px;
    padding-top: 4%;
    position: absolute;
}

.btn1 {
    background-image: url(Images/home.png);   
}

.btn2 {
    background-image: url(Images/file.png);  
}

.btn3 { 
    background-image: url(Images/bar-chart.png);    
}

.btn4 { 
    background-image: url(Images/loupe.png);   
}

.nav-buttons button {
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    border: none;
    background-color: #075f68;
    margin-right: 4px;
}
    


.nav-buttons button:hover {
    background-color: #22727b;
    border-radius: 5px;
    
    
}

.logo { width: 500px;
        height:500px;
        float: left;
        margin-top: -8%;
    
}


.top-nav h1 {
    padding-top: 15%;
    padding-left: 20%;
    margin:0; 
    float: left;
    
}
.top-nav h2 {
    width: 40%;
    text-align: center;
    float: left;
    margin-left: 45%;
    margin-top: 2%;
  
   
    
}

.content {
    height: 300px;
    width: 500px;
    margin-left: 490px;
    position: absolute;
    margin-top: 360px;
    font-size: 23px;
    line-height: 40px;
    
}

.background {
    height: 250px;
    background-color: #075f68;
    position: absolute;
    width: 100%;
    z-index: -5;
    }

body{
   margin: 0;
    font-family: "Dosis";
    letter-spacing: 1px
}

.input {
    float: right;
    margin-top: 5%;

    }
.input input {
    float: right;
    border: none;
    border-radius: 5px;
    background-color: rgba(238, 241, 244, 0.48);
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 5px;
    
        
}

input[type="submit"]{
    cursor: pointer;
    
}
    

.bot-nav {
    text-align: center;
    background-color: #075f68;
    width: 100%;
    height: 188px;
    font-size: 25px;  
    z-index: 1;
    position: absolute;
    bottom: 0;    
}
