body {
	width: 100%;
	height: 2200px;
	margin: 0;
	background-image: url(bg.jpg);
	}

.display-img {
	
	height: 630px;
	width: 100%;
	background-image: url(Uus.jpg);
	margin-top: 0;
	border-bottom: solid;

}

.top-nav {
	width: 100%;
	height: 100px;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a1000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: none;

}
.top-nav p {
	font-size: 40px;
	color: white;
	width: 520px;
	float: left;
	margin-top: 25px;
	padding-left: 20px
}

.top-nav a {
	float: right;
	margin-right: 60px;
	
	border: none;
	background: none;
	color: white;
	cursor: pointer;
	font-size: 20px;
	margin-top: 40px;

}

.display-img p {
	text-align: center;
	margin-top: 0;
	padding-top: 300px;
	font-size: 40px;
}

#content-wrapper {
	width: 1000px;
	height: 640px;
	margin:0 auto;
	

}

#hinnad {
	width: 50%;
	margin-top: 80px;
	float: left;


}

.workDay {
	height: 130px;
	border-radius: 15px;
	background-color: rgb(179, 173, 172, 0.7);

}
.workDay img {
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}

.workDay h1,p {
	padding-left: 70px;
	text-align: center;
	
}
.workDay h1 {
	padding-top: 15px;
	margin-bottom: 0;
}

.workDay p {
	font-size: 18px;

}
.weekend p {
	font-size: 18px;
}
.more {
	font-size: 18px;
}

.weekend {
	height: 130px;
	border-radius: 15px;
	background-color: rgb(179, 173, 172, 0.7);
}
.weekend img {
	float: left;
	margin-top: 30px;
	margin-left: 30px;

}

.weekend h1,p {
	padding-left: 70px;
	text-align: center;
}
.weekend h1 {
	padding-top: 15px;
	margin-bottom: 0;
}
.more {
	height: 160px;
	border-radius: 15px;
	background-color: rgb(179, 173, 172, 0.7);
}
.more img {
	float: left;
	margin-top: 50px;
	margin-left: 30px;
	
}

.more h1,p {
	padding-left: 70px;
	text-align: center;

}	
.more h1 {
	padding-top: 15px;
	margin-bottom: 0;
}


.broneering {
	height: 517px;
	width: 40%;
	float: right;
	margin-top: 80px;
	margin-right: 30px;
	background-color: rgb(179, 173, 172, 0.7);
	border-radius: 15px;	
}

.message  {
	height: 130px;
}
.broneering input {
	
	width: 90%;
	margin-left: 3%;
	border-radius: 5px;
}

.broneering p {
	text-align: left;
	padding-left: 3%;
	font-size: 18px;
}


.broneering .button {
	margin-left: 170px;
	margin-top: 20px;
	border: none;
	background-color: black;
	height: 30px;
	width: 80px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

#kasutusjuhend {
	background-color: rgb(179, 173, 172, 0.7);
	border-radius: 15px;	
	margin-top: 100px;
	width: 80%;
	text-align: left;
	margin-left: 10%;
	height: 490px;
}

#kasutusjuhend h3 {
	text-align: center;
	font-size: 30px;
	padding-top: 40px;
}
#kasutusjuhend p {
	text-align: left;
	line-height: 25px;
	font-size: 18px;
	letter-spacing: 1px;

}

#kontakt {
	width: 100%; 	
	height: 250px;
	margin-top: 200px;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a1000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: none;
	color: white;
	text-align: center;

}
#kontakt p {
	padding-left: 0;
}